In [1]:
import numpy
import pandas as pd
import matplotlib as plt
import seaborn as sbn

In [ ]:
mta_sept_05 = pd.read_csv('turnstile_200905.txt')
mta_aug_29 = pd.read_csv('turnstile_200829.txt')
mta_sept_12 = pd.read_csv('turnstile_200912.txt')
mta_sept_19 = pd.read_csv('turnstile_200919.txt')

In [29]:
mta_lastmonth = pd.concat([mta_aug_29, mta_sept_05, mta_sept_12, mta_sept_19])

In [33]:
import datetime
mta_lastmonth.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/22/2020,00:00:00,REGULAR,7447810,2532191
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/22/2020,04:00:00,REGULAR,7447812,2532197
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/22/2020,08:00:00,REGULAR,7447824,2532208
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/22/2020,12:00:00,REGULAR,7447852,2532248
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/22/2020,16:00:00,REGULAR,7447937,2532276

In [40]:
mta_sept_05['datetime'] = pd.to_datetime(mta_sept_05['DATE'] + ' ' + mta_sept_05['TIME'])
mta_sept_05.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,datetime
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2020,00:00:00,REGULAR,7450785,2533372,2020-08-29 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2020,04:00:00,REGULAR,7450788,2533375,2020-08-29 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2020,08:00:00,REGULAR,7450798,2533391,2020-08-29 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2020,12:00:00,REGULAR,7450826,2533423,2020-08-29 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2020,16:00:00,REGULAR,7450910,2533454,2020-08-29 16:00:00

TypeError: cannot add DatetimeIndex and DatetimeIndex